body{
    font-family: verdana,arial,sans-serif;
    font-size: 24px;
    line-height: 1.5;
    background-color: #eee;
    background-image: url("../images/white_brick_wall.png");
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-size: 200px;
}

.bolded {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;

}

.italics {
    font-style: italic;
    
}