body{
    font-family: Calibri;
    font-size: 18px;
}

/* change font and font size */

/* Targeting multiple elements header and footer add background color */
h1,h2,h3,h4,footer{
    background-color:cornflowerblue;
    
}

/* class selector */
.c1{
    font-size: 25px;
    color: white;
}

/* my-image shadow box */
#my-image{
    box-shadow: 0 0 2px 1px black;
}

/* change bullet points to square in list */
li{
    list-style: none;
}
li:before{
    content:"\25AA";
    color:black;
    margin-right: 15px;
}
/* nth clild to add color background to hobby list */
li:nth-last-child(odd){
    background-color: lightgreen;

}

/* remove underline fron link */
a:link{
    text-decoration: none;
    background-color: linen;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* LVHA */
a:link{
    color:gray;
}

a:visited{
    color: lightslategray;
}
a:hover{
    color: black;
}
