body{
    font-family: Calibri;
    font-size: 18px;
}

/* change font and font size */

/* Targeting multiple elements header and footer add background color */
h1,h2,h3,h4,footer{
    background-color:cornflowerblue;
}

/* class selector */
.c1{
    font-size: 25px;
    color: white;
}

/* my-image shadow box */
#my-image{
    box-shadow: 0 0 2px 1px black;
}

/* change bullet points to square in list */
li{
    list-style: none;
}
li:before{
    content:"\25AA";
    color:black;
    margin-right: 15px;
}
