body{
    font-family: Calibri;
    font-size: 18px;
}

/* change font and font size */

/* Targeting multiple elements header and footer add background color */
h1,h2,h3,h4,footer{
    background-color:cornflowerblue;
}

/* class selector */
.c1{
    font-size: 25px;
    color: white;
}

/* my-image */
