/* body background */
body{
    background: #A9D4CE;

}
/* center pg */
#center_page{
    width: 1000px;
    border: 2px solid black;
    margin: 0px auto;
    text-align: left;
    background: #D4E9E7;

}
/* image starfish */

.lone-starfish-wide{
    width: 100%;
    height:100%;

}
img{
    width: 100%;
}