/* body background */
body{
    background: #A9D4CE;

}
/* Content Center */
#center_everything{
    width: 1000px;
    border: 2px solid lightblue;
    margin: 0px auto;
    text-align: left;
    background: #D4E9E7;
}

.lone-starfish-wide{
    max-width: 1000px;
    vertical-align: left;
    

}
img{
    width: 100%;
    height: auto;
    
}

/* Add text Over */
.textover {
    position: relative;
}

/* Position Caption */
.textover figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 65px;
    color: white;
    text-align: center;
    

}

/* Column css add  */

.column {
    float: center;
    column-width: 100%;
    padding: 1%;
    text-align: center; 
  }
  .multicol {
    column-count: 3;
    column-gap: 10px;
    column-rule: 1px solid grey;
    clear: both;
}

/* Small starfish resize */
.container{
    width: 20%;
    margin: 5px;
    box-align: left
}
img{
    float: left;
    margin-right: 5px;
}

.contact_box{
    padding: 20px;
}

/* Message box css add ons*/
input[type=text], select, textarea {
    width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

/* Add contact box in box*/
.contact_box{
    border: 2px solid black;
    margin: 5px;
    position: relative;
}


/* Radio buttons add style*/
.radiobuttons{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
}

.radiobuttons::after{
    content:"";
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;

}




