/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -----------css reset added--------------*/


/* -----------web page css start--------------*/


/* body css start*/
body {
	font: 16px;
	margin: 0 auto;
	font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}


	/* h1 added*/
h1 {
	padding-top: 20px;
	line-height: 1.5;
	font-size: 3.5rem;
	font-weight: 700;
	margin: 25px 0 25px 10px;
}


	/* h1 added*/
h2 {
	font-size: 2rem;
	margin: 40px 0 15px 10px;
	font-weight: 700;
}
	/* h3 added*/
h3 {
	font-size: 1.5rem;
	margin: 25px 0 25px 10px;
	font-weight: 700;
}
	/* h4 added*/
h4 {
	font-size: .8rem;
	margin-left: 10px;
	border-bottom: 2px solid #c78c06;
	font-weight: 700;
}

	/* text css style */

p {
	margin: 25px 0 0 10px;
	font-size: .8rem;
}

.icon-right {
	padding-left: 10px;
}

.button {
	color:white;
	background-color: black;
	padding: 25px 25px;
	border: none;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
}

.logo {
	background-color: #c78c06;
}

nav {
	padding: 10px;
	background-color: black;
}

nav li {
	text-align: center;
	padding:10px;
	background-color: black;
}

nav li a {
	text-decoration: none;
	color: #c78c06;
	display: block;
	padding:10px;
}

#home {
	background-color: #c78c06;
	color: black;
}

nav form {
	background-color: black;
	display:flex;

}

nav form input {
	flex-grow: 1;
}


#searchbutton {
	display: inline-block;
	background-color: black;
	border: 1px solid #c78c06;
	color: #c78c06;
	padding:5px;
	}

	.icon-zoom {
		font-size: 1.5rem;
	}

/* Banner section css style */

.topbanner {
	background-image: url(../images/main-banner.jpg);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover {
	background-color: #00000088;
	color: white;
	

}

.cover .button {
	color:black;
	background-color: #c78c06;
}

/* about us css style*/

.about-us {
	
	background-color: #ffe6ac;
	padding: 10px;
}

.about-us img {
	width: 100%;
}

.about-us h2, .about-us p {
	margin-left: 0px;
}

/* services style css*/

.services div {
	width:100%;
	background-color: #ffe6ac;
	margin:10px;
}



.services div img {
	width:100%;
}


/* vision style css*/
.vision {
	background-image: url("../images/vision.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 10px;
}

.vision .button {
	border: 1px solid #c78c06;
}	


/* team section  style css*/
.team {
	margin: 10px;
}

.team div {
	background-color: #ffe6ac;
	margin: 10px;
	padding-bottom: 25px;
}

.team h3 {
	margin-bottom: 10px;
}

.team img {
	width: 100%;
}

/* contact style css*/

.contact div form {
	margin: 10px;
	display: flex;
	flex-direction: column;
}



.contact div form input {
	margin: 10px 0 10px 0;
	height: 30px;

}

.contact div form textarea {

	margin: 10px 0 20px 0;
	padding-right: 10px;
	resize: none;
}

.contact div form button {
	padding:5px;
	color: #c78c06;
	font-size: 1.25rem;
	margin:0px;
	align-self: start;
}

/* table style css added */

.hours {
	margin: 10px;
}

.hours h3 {
	margin-left: 0px;
}

table {
	width: 100%;
}
table, th, td {
	border: 1px solid black;
	padding: 15px;
}

th {
	background-color: #ffe6ac;
}

/* location style css added */

.location {
	margin: 10px;
}

.location iframe {
	width: 100%;
}

footer {
	background-color: black;
	color: #c78c06;
	padding: 10px;
}


/* media queries  css added*/

@media screen and (min-width: 760px) {


	/* navigation container */


	.nav-container { 
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 30px;
	}

	.logo {
		background-color: unset;
	}
	

	.nav-container ul{ 
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 60px;
		margin-right: 20px;
	}
	
	.nav-container ul li {
		padding: 10px 20px;
	}
	

	.search input {
		width: 200px;
	}

	/* banner style css added*/

	.overlay {
		max-width: 1200px;
	}

	/* about style css added  */

	.about-container{
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.about-content {
		padding: 10px;
		line-height: 1.2;
	}

	/* services style css added */

	.services-container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.services {
		max-width: 1200px;
		margin: 0 auto;
		display:grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr, 1fr;

	}
	.services-container h2{
		margin-left:0;
	}
	.services div {
		display:flex;
		flex-direction: column;
		margin: 0;
	}

/* services nth-child added */

	.services div:nth-child(1) {
		grid-column: 1 / span 3;
		grid-row: 1;


	}

	.services div:nth-child(2) {

	grid-column: 4 / span 3;
	grid-row: 1;

	}

	.services div:nth-child(3) {

		grid-column: 1 / span 2;
		grid-row: 2;
	
	}
	.services div:nth-child(4) {

		grid-column: 3 / span 2;
		grid-row: 2;
	
	}
	.services div:nth-child(5) {

		grid-column: 5 / span 2;
		grid-row: 2;
	

	}

	/* vision section css added*/

	.vision {
		margin-top: 20px;
	}
	.vision-content {
		max-width: 1200px;
		margin: 0 auto;
	}

	/* team section css added */

	.team-container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.team-container h2 {
		margin-left: 0;
	}

	.team {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

	}

	.team div {
		margin:0;
		padding:0;
	}

	.team div:nth-child(1) {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
	.team div:nth-child(2) {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}
	.team div:nth-child(3) {
		grid-column: 2 / 2;
		grid-row: 2 / 2;
	}
	.team div:nth-child(4) {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}

	/* contact css style added*/

	.contact-container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.contact {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	.contact div:nth-child(1) {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
	.contact div:nth-child(2) {
		grid-column: 1 / span 2;
		grid-row: 2 / 2;
		
	}
	.contact div:nth-child(3) {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}


	/* footter style css added */
	.footer-content {
		max-width: 1200px;
		margin: 0 auto;
	}
}